<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.41">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.2">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>BRANCH_TAG</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@0.9.13">
          <name>BRANCH_TAG</name>
          <uuid>f85cd430-6a91-425a-8b77-c68636d26c93</uuid>
          <type>PT_BRANCH_TAG</type>
          <branch></branch>
          <tagFilter>*</tagFilter>
          <branchFilter>.*</branchFilter>
          <sortMode>NONE</sortMode>
          <defaultValue>main</defaultValue>
          <selectedValue>TOP</selectedValue>
          <quickFilterEnabled>false</quickFilterEnabled>
          <listSize>5</listSize>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.94">
    <script>pipeline {
    agent any
    parameters {
        gitParameter name: &apos;BRANCH_TAG&apos;, 
                     type: &apos;PT_BRANCH_TAG&apos;,
                     defaultValue: &apos;main&apos;
    }
    stages {
        stage(&apos;Example&apos;) {
            steps {
                checkout([$class: &apos;GitSCM&apos;, 
                          branches: [[name: &quot;${params.BRANCH_TAG}&quot;]], 
                          doGenerateSubmoduleConfigurations: false, 
                          extensions: [], 
                          gitTool: &apos;Default&apos;, 
                          submoduleCfg: [], 
                          userRemoteConfigs: [[url: &apos;https://github.com/vishalpandita/empcrud.git&apos;]]
                        ])
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>